.deliveredClass {
    padding: 2px 10px;
    border-radius: 10px;
    font-family: Poppins-Regular;
    color: #61967d;
    background-color: #d1fae5;
}

.pendingClass {
    padding: 2px 10px;
    border-radius: 10px;
    font-family: Poppins-Regular;
    color: #d49104;
    background-color: #fef9c3;
}

.proccesingClass {
    padding: 2px 10px;
    border-radius: 10px;
    font-family: Poppins-Regular;
    color: #6596f7;
    background-color: #dbeafe;
}

.cancelClass {
    padding: 2px 10px;
    border-radius: 10px;
    font-family: Poppins-Regular;
    color: #f04468;
    background-color: #fee2e2;
}

